<div class="flex w-screen h-screen mx-auto">
  <div class="w-3/4 bg-green-100 overflow-auto">
    <table>
      <tr
        [ngClass]="{
          'font-mono': true,
          'bg-red-500': registers[0] && registers[0].payload === i
        }"
        *ngFor="let item of memory; let i = index; trackBy: trackByFn"
      >
        <td class="line-number border-r border-green-800">
          {{ zeroPad(i, 2) }}
        </td>
        <td class="value p-0">
          <input
            class="w-full"
            type="text"
            [value]="memory[i] | json"
            (change)="store(i, $event)"
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="w-1/4 bg-blue-100">
    <div class="flex items-center">
      <button class="btn btn-blue" (click)="evaluateStep()">Step</button>
      <button class="btn btn-blue" (click)="run()">Run</button>
      <button class="btn btn-blue" (click)="reset()">Reset</button>
    </div>
    <div class="flex">
      <span class="font-bold">Clock: </span
      ><span
        class="indicator"
        [ngClass]="{ 'bg-black': clockValue, 'bg-white': !clockValue }"
      ></span>
    </div>
    <div class="flex">
      <span class="font-bold">Program Status:</span
      ><span
        class="indicator"
        [ngClass]="{ 'bg-green-500': runProgram, 'bg-red-500': !runProgram }"
      ></span
      ><span>{{ runProgram ? "Running" : "Stopped" }}</span>
    </div>
    <p *ngFor="let register of registers; let i = index">
      <span class="font-bold"
        >Register {{ i }}{{ i === 0 ? "(PC)" : "" }}: </span
      >{{ register | json }}
    </p>
  </div>
</div>
