<div class="flex w-screen h-screen mx-auto">
  <div class="flex-1 bg-green-100 overflow-auto">
    <table>
      <tr
        [ngClass]="{ 'font-mono': true, 'bg-red-500': programCounter === i }"
        *ngFor="let item of memory; let i = index; trackBy: trackByFn"
      >
        <td class="line-number border-r border-green-800">{{ i }}</td>
        <td class="value">
          <input
            class="w-full"
            type="text"
            [value]="memory[i] | json"
            (change)="store(i, $event)"
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="flex-1 bg-blue-100">
    <button
      class="
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        border border-blue-700
        rounded
      "
      (click)="evaluateStep()"
    >
      Step
    </button>
  </div>
</div>
